{% extends 'base_test.html' %}
{% load i18n %}
{% load app_filters %}
{% block additional-headers %}
<link rel="stylesheet" href="/static/plugins/dataTables1.10.20/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="/static/plugins/bootstrap-datepicker3/bootstrap-datepicker3.min.css"/>
{% endblock %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-file-archive    icon-gradient bg-danger">
                </i>
            </div>
            <div>Cyclone Index File Form</div>
        </div>
       
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form id="user_form" method="post" action="/modules/upload-cyclone-index-files/" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="position-relative form-group ">
                                <label>File Name:</label>
                                <input type="text" name="file_name" class="form-control" required>
                            </div>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-md-6">
                            <div class="position-relative form-group ">
                                <label>Source:</label>
                                <input type="text"  id="file_source" name="file_source" class="form-control" required>
                            </div>
                            </div>
                        </div>
                    <div class="row">
                               <div class="col-md-6">
        <div class="form-group">
            <label>Published Year: </label>
            <input type="text" class="datepicker form-control"  name="published_year" id="published_year" readonly required="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="position-relative form-group">
            <label class="">Upload File</label>
            <input name="uploaded_file" id="uploaded_file" type="file" class="form-control-file" required>
        </div>
    </div>
</div>
                <button type="submit" class="mt-1 btn btn-primary" id="submit" >Submit</button>
                <button onclick="history.go(-1);" style="margin-right:10px;" type="button" class="mt-1 btn btn-warning">Cancel</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additional-javascript %}
<script type="text/javascript" src="/static/scripts/grcmodule/cyclone_index_files_form.js"></script>
{% endblock %}